@charset "UTF-8"; /* Faz compatibilidade com caracteres no arquivo css */ 

/*
  Paleta de cores
  Verde: #49a09d
  Lilás: #5f2c82
*/

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body, html {
  background-color: #5f2c82;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  background-color: white;
  width: 250px;
  height: 515px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

  transition: width .3s, height .3s;
  transition-timing-function: ease;
}

section#login > div#imagem {
  display: block;
  background: #5f2c82 url(../imagens/pexels-lawlesscapture-13737660.jpg) no-repeat;
  background-size: cover;
  background-position: left bottom;
  height: 200px;
}

section#login > div#formulario {
  display: block;
  padding: 10px;
}

div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario > p {
  font-size: 0.8em;
}

form > div.campo {
  background-color: #5f2c82;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin: 5px 0px; /* margem de cima e baixo = 5px e da direita e esquerda = 0px. */
}

form > input[type=submit] { /* Para botão de submit "Entrar". */
  display: block; /* Para o posicionando em uma linha somente para ele. */
  font-size: 1em;
  width: 100%; /* Ocupa 100% do container. Não é 100vw pois sendo assim seria a largura total. */
  height: 40px;
  background-color: #49a09d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form > input[type=submit]:hover {
  background-color: #2d6462;
}

form > a.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  padding: 6.5px;
  margin-top: 5px;
  background-color: white;
  color: #2d6462;
  border: 1px solid #49a09d;
  border-radius: 7px;
  text-decoration: none;
}

form > a.botao:hover {
  background-color: #6cd3cf;
}

form > a.botao > span {
  font-size: 0.8em;
}

/* Estilos para .campo em celular */
.campo {
  display: block;
  margin-bottom: 20px;
}

.campo span.material-symbols-outlined {
  display: inline-block;
  font-size: 20px;
  color: #000;
  margin-right: 8px;
  vertical-align: middle;
  width: 20px;
}

.campo input {
  display: inline-block;
  width: calc(100% - 40px);
  height: 25px;
  margin: 6px 0px;
  padding: 12px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9em;
  vertical-align: middle;
  box-sizing: border-box;
}

.campo input::placeholder {
  color: #999;
  opacity: 1;
}

.campo label {
  display: none;
}